<app-modal-header [data]="modalHeader" (onAction)="close($event)" ></app-modal-header>
<form [formGroup]="insertForm">
  
    <label>
      Name:
      <input type="text" formControlName="name" id="productName">
    </label>
    <br>
    <label>
      Code:
      <input type="number" formControlName="code" id="productCode">
    </label>
     <br>
    <label>
       Quantity:
       <input type="number" formControlName="quantity" id="productQuantity">
    </label>
     <br>
     <label>
       ImageURL:
       <input type="text" formControlName="imageURL" id="productImageURL">
     </label>
      <br>
</form>

<app-modal-footer [data]="modalFooter" (onAction)="save($event)"></app-modal-footer>